# Sample .travis.yml for R projects.
#
# See README.md for instructions, or for more configuration options,
# see the wiki:
#   https://github.com/craigcitro/r-travis/wiki

language: r

# See https://docs.travis-ci.com/user/languages/r/#R-Versions
r:
    - bioc-devel
     

sudo: required
bioc_required: true

r_packages:
  - devtools

r_github_packages:
  - jimhester/covr
after_success:
  - Rscript -e 'covr::codecov()'
