import(methods)
import(GenomicRanges)
import(IRanges)
#importMethodsFrom("GenomicRanges",elementMetadata,countOverlaps,findOverlaps, seqnames, seqlengths, strand,"strand<-")

#importClassesFrom("GenomicRanges",GRanges,GRangesList)

#importClassesFrom("IRanges", RangedData, RangedDataList, DataTable,
#                  Annotated, Vector, List, DataTableORNULL, characterORNULL,
#                  RangedSelection, SimpleList, DataFrame,SimpleRleList,RleList,SimpleAtomicList,AtomicList,RleViews,RleViewsList)

#importFrom("IRanges", DataFrame, IRanges, RangedDataList, RangedData,
#           RangesList, Rle,matchMatrix,findOverlaps, RangedSelection,ranges,countOverlaps,subsetByOverlaps,elementMetadata,"elementMetadata<-",Views,viewApply,RleViewsList)

#importMethodsFrom("IRanges",nearest,as.data.frame,values,length,elementLengths,width,start,end)



importFrom("data.table", data.table)
importFrom("plyr",rbind.fill)
importFrom("reshape2", melt)


# importFrom("parallel", mclapply)
exportClasses(annotationByFeature)
exportClasses(annotationByGenicParts)
exportClasses(modRleList)
exportClasses(randomEnrichment)
exportClasses(scoreMatrix)
exportClasses(ScoreMatrixList)
exportMethods(annotateWithFeature)
exportMethods(annotateWithFeatureFlank)
exportMethods(annotateWithGeneParts)
exportMethods(convertBedDf)
exportMethods(convertBed2Exons)
exportMethods(convertBed2Introns)
exportMethods(getAssociationWithTSS)
exportMethods(getFeatsWithTargetsStats)
exportMethods(getFlanks)
exportMethods(getMembers)
exportMethods(getRandomEnrichment)
exportMethods(getTargetAnnotationStats)
exportMethods(heatmapProfile)
exportMethods(modCoverage)
exportMethods(plotMatrix)
exportMethods(plotTargetAnnotation)
exportMethods(randomizeFeature)
exportMethods(readBed)
exportMethods(readFeatureFlank)
exportMethods(readTranscriptFeatures)
exportMethods(scoreMatrix)
exportMethods(binMatrix)
exportMethods(scoreMatrixBin)

export(gffToGRanges)
export(ScoreMatrixList)
